---
import Button from "./Button.astro";
---

<div class="bg-neutral-300 p-4 flex justify-center items-center flex-col gap-8 py-14">
    <h3 class="uppercase text-4xl font-black">Make a reservation</h3>
    <form action="" class="flex justify-between gap-2 text-black font-aux text-lg">
        <select name="" id="" class="flex-1 px-4 py-2">
            <option value="">1 Person</option>
            <option value="">2 People</option>
            <option value="">3 People</option>
            <option value="">4 People</option>
            <option value="">5 People</option>
            <option value="">6 People</option>
        </select>
        <input type="date" name="" id="" class="flex-1 px-4 py-2">
        <input type="time" name="" id="" class="flex-1 px-4 py-2">
        

    </form>
    <Button type="normal" value="Find a Table"/>
</div>