<section class="flex flex-col justify-center pb-28 bg-custom z-30 text-black font-aux text-lg text-center ">
    <div class="max-w-5xl m-auto text-sm space-y-4 border-b-2 border-b-black pb-20">
        <h2 class="text-4xl font-black font-main">Location</h2>
        <div class="grid grid-cols-2 gap-x-4">
            <div class="text-center font-black">
                <p class="text-lg pb-1">Dinner</p>
                <p>Sunday – Thursday – 4 PM – 10 PM</p>
                <p>Friday – Saturday – 4 PM – 11 PM</p>
                <p class="text-lg pt-4 pb-1">Lunch</p>
                <p>Friday – 11 AM – 4:00 PM</p>
                <p class="text-lg pt-4 pb-1">Brunch</p>
                <p>Saturday – Sunday – 10:30 AM – 4:00 PM</p>
                <p class="text-lg pt-4 pb-1">Takeout</p>
                <p>Monday -  Friday 4pm - 10:00pm</p>
                <p>65 Lewis Street</p>
                <p>East Boston, MA 02128</p>
                <p class="text-lg pt-4 pb-1">Parking</p>
                <p class="text-justify pb-4">Please call us for additional assistance with directions or parking.</p>
                <p class="text-justify pb-4">Limited 2-hour parking is available on surrounding streets (Lewis St., Marginal St., S. Bremen St., Sumner St., Orleans St.)</p>
                <p class="text-justify pb-4">The restaurant is a two-minute walk from the Maverick Blue Line T stop. </p>
                <p class="text-justify pb-4">The restaurant is also accessible by public ferry from several locations Monday - Sunday from 11 AM - 11 PM weather permitting: </p>
                <ul class="text-justify pb-4 pl-8">
                    <li>-Charlestown Marina (1 8th st. Charlestown)</li>
                    <li>-New St. East Boston Docks (6 New Street)</li>
                    <li>-Lewis Wharf (1 East Pier Drive, East Boston)</li>
                    <li>-Fan Pier (10 Waterside Ave, Boston's Seaport) </li>
                </ul>
            </div>
            <iframe class="grayscale" width="520" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" id="gmap_canvas" src="https://maps.google.com/maps?width=520&amp;height=400&amp;hl=en&amp;q=%20Montevideo+()&amp;t=&amp;z=12&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe> <a href='https://www.versicherungen.at/pferdehaftpflicht-rechner/'>Pferdehaftpflichtversicherung</a> <script type='text/javascript' src='https://embedmaps.com/google-maps-authorization/script.js?id=e18264569495ce43caae9bd5da690853a7d555b2'></script>
        </div>
    </div>
</section>
