<section class="bg-black flex justify-center py-28 bg-custom z-30 text-white">
    <div class="max-w-5xl m-auto text-sm space-y-4">
        <h2 class="text-7xl font-black uppercase max-w-3xl">
            Douglass Ramsey, 
            Chef/Owner
        </h2>
        <p class="text-base font-aux font-black leading-7">Recently named by Food & Wine as one of the top 10 Best New Chefs in America 2020, Douglass always finds a place to cook no matter where he goes. And he’s gone to a lot of places. From Paris and Thailand to New York and Boston, fifteen years of global experience informs every meal he makes for you. He’s not shy and you shouldn’t be either. Stop by and say hello, hugs and handshakes are mandatory.</p>
    </div>
</section>
<style>
    .bg-custom{
        background: url('/images/chef.jpg') no-repeat center center;
        background-position: 55% 45%;
    }
</style>