---
import Button from "@components/Button.astro";
import Manager from "@components/Manager.astro";
---
<section class="flex flex-col justify-center py-28 bg-custom z-30 text-black font-aux text-lg text-center">
    <div class="max-w-5xl m-auto text-sm space-y-4 border-b-2 border-b-black pb-20">
        <Button type="normal" value="Order Online"/>
        <Manager/>
        <p class="font-black">Reservations can be made in advance through OpenTable or by phone.</p>
        <p class="font-black">For parties of 5-8 guests, reservations can be made between 4:00pm - 6:00pm and at 8:00pm or later by calling the restaurant directly. A credit card is required at the time of booking to secure a reservation.</p>
        <p class="font-black">Patio reservations are available on a same-day first-come basis only. Please call the restaurant the day of to secure patio seating. Requests for patio tables made through Open Table are not guaranteed. Patio availability is subject to change due to inclement weather.</p>
        <p class="font-black">Parties of 9 or more people are considered a large group event.</p>
        <p class="font-black">If you are interested in having a large party here at EPULO, please click on the Event Inquiry button below and fill out an inquiry form.  Please note that we do not have a private room for large groups.</p>
        <div class="py-10">
            <Button type="normal" value="Event Inquiry"/>
        </div>
        <p class="text-4xl font-black font-main">Tel: 617-996-1224</p>
    </div>
</section>