<section class="bg-white flex justify-center py-28 z-20">
    <div class="max-w-5xl m-auto text-sm space-y-4">
        <h2 class="text-6xl font-black uppercase">Hi, we’re EPULO. </h2>
        <p class="text-base font-black font-aux">We are an inspired Italian neighborhood restaurant.</p>
        <p class="text-base font-black font-aux">We believe in being generous and thoughtful in the way we prepare our food and engage with our community. And like you, we know the value of a good meal shared between friends. </p>
        <p class="text-base font-black font-aux">EPULO. It means “banquet” And every meal we create is meant to be a gift just for you. </p>
        <p class="text-base font-black font-aux">We’re looking forward to seeing you soon.</p>
        <p class="text-base font-black font-aux pt-8">-The EPULO Family</p>
    </div>
</section>